<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/header.ejs") %>

            <main>

                <div class="wrapper">
                    <section class="content">
                        <div class="add-post">
                            <% if (currentUser.member){ %>
                                <a class="add-post__link link row f-center" href="/posts/create-post">
                                    New
                                    Post
                                    <img src="/images//icons//material-symbols--add-notes.svg" alt="">
                                </a>
                                <% }else{%>
                                    <a href="/<%=currentUser.id%>/join-club"><span class="join">Join our club to
                                            post!</span></a>

                                    <% }%>
                        </div>
                        <section class="posts">
                            <%- include("./partials/posts.ejs") %>
                                <div class="pagination">
                                    <ul class="pag-list row gap-sm g-center">
                                        <% if (pageCount> 1){ %>
                                            <% for (let i=1; i < pageCount + 1; i++){ %>
                                                <li class="pag-item ">
                                                    <a href="/posts/feeds?p=<%= i %>" class="pag-link">
                                                        <%=i%>
                                                    </a>
                                                </li>
                                                <% }%>
                                                    <% }%>
                                    </ul>
                                </div>
                        </section>
                    </section>
                </div>

            </main>
            <%- include("./partials/footer.ejs") %>

    </body>

    </html>