<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/header.ejs") %>
            <main>
                <section class="wrapper">
                    <div class="row gap-sm height-100">
                        <article class="user-profile col padding-inline-700 padding-block-500 border gap">
                            <div class="user__info col g-center">
                                <div class="avatar">
                                </div>
                                <h2 class="fullname">
                                    <%=profile.first_name|| undefined %>
                                        <%=profile.last_name|| undefined %>
                                </h2>
                                <p class="username">@<%= profile.username %>
                                </p>
                            </div>
                            <ul class="user__details">
                                <li class="detail">
                                    <p>Post count : <span class="">
                                            <%= postsLength || 0 %>
                                        </span></p>
                                </li>
                                <li class="detail">
                                    <p>Joined : <span class="">
                                            <%= new Date(profile.created_at).toDateString() %>
                                        </span></p>
                                </li>
                                <% if (profile.member) { %>
                                    <li class="detail">
                                        <p>Member since : <span class="">
                                                <%=new Date(profile.member_since).toLocaleTimeString()%> ,
                                                    <%=new Date(profile.member_since).toDateString()%>
                                            </span></p>
                                    </li>
                                    <% } %>
                                        <% if (profile.admin) { %>
                                            <li class="detail"><span class="admin">Admin</span></li>
                                            <% } %>
                            </ul>

                            <% if (currentUser.member && !currentUser.admin) { %>
                                <a href="/<%= currentUser.id %>/admin">Become our admin</a>
                                <% } %>

                                    <% if (currentUser.admin) {%>
                                        <span class="admin">Admin</span>
                                        <% } %>
                        </article>
                        <section class="user__posts f-col padding-inline-500">
                            <%- include("./partials/posts.ejs") %>
                                <div class="pagination">
                                    <ul class="pag-list">
                                        <li class="pag-item">
                                            <% if (pageCount> 1){ %>
                                                <% for (let i=1; i < pageCount + 1; i++){ %>
                                                    <a href="/user/profile/feeds?p=<%= i %>" class="pag-link">
                                                        <%=i%>
                                                    </a>
                                                    <% }%>
                                                        <% }%>
                                        </li>
                                    </ul>
                                </div>
                        </section>
                    </div>
                </section>
            </main>
    </body>
    <%- include("./partials/footer.ejs") %>

        </html>