<%- include("../partials/head.ejs") %>


    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <section class="wrapper">
                    <div class="form-content">
                        <div class="form-wrapper border f-col ">
                            <h1 class="form__title">New Message</h1>
                            <%- include("../partials/error.ejs") %>
                                <form action="/posts/<%= locals.currentUser.id%>/create-post " method="post">
                                    <div class="form-groups col ">
                                        <div class="form-group">
                                            <label for="title">Title <span class="notice">(max length: 50 chars)</span>:
                                            </label>
                                            <input type="text" name="title" maxlength="50" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="message">Message <span class="notice">(max length: 250
                                                    chars):</label>
                                            <textarea name="message" id="message" rows="12" maxlength="250" required>
                                </textarea>
                                        </div>
                                    </div>
                                    <button class="button" type="submit">Posts</button>
                                </form>
                        </div>
                    </div>
                </section>
            </main>
            <%- include("../partials/footer.ejs") %>

    </body>

    </html>